@import "~@angular/material/theming";

.mat-table {
  width: 100%;

  th:last-child,
  td:last-child {
    text-align: right;
  }

  tr:last-child td {
    border-bottom: none;
  }
}

.actions button {
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}
